/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

canvas {
  display: block; /* Ensures there's no scrollable gap */
  width: 100%;
  height: 100%;
}