html, body, #root {
  height: 100%;
  margin: 0;
}

.menu {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0);  /* Initially hidden */
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute; /* Absolute positioning */
  top: 10%; /* Adjust the top position */
  left: 50%; /* Center horizontally */
  /* Center and scale */
  opacity: 0; /* Initially hidden */
}

.menu {
  transform: translateX(-50%) scale(1);
}

.menu.visible {
  opacity: 1; /* Show when visible */
}
